/* @see http://stackoverflow.com/questions/13781685/angularjs-ng-src-equivalent-for-background-imageurl */
.back-img {
    position:relative;
    width: 100%;
    height: 0;
    padding-bottom: 50% ; /* % of width, defines aspect ratio*/

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;  
}

.caption h4 {
    height: 3.5em;
}