body {
    font-family: sans-serif;
}

#header {
    /* I want a fixed header that doesn't scroll */
    position: fixed;
    top: 0;
    height: 83px;
    left: 0;
    right: 0;

    /* The panel underneath will scroll under the image */
    z-index: 2;
    opacity: 0.85;

    /* show a background picture that tapers off to the right to the background color */
    background: #2c3638;
    background-image: url('rezeptsammlung_logo.jpg');
    background-repeat: no-repeat;

    /* use a nice Google font with a shadow */
    padding-top: 7px;
    font-family: 'Fugaz One', cursive;
    font-size: 46px;
    color: #a5c4c1;
    text-shadow: 0.1em 0.1em 0.2em black;
    text-align: center;
}

/* define the slider so that it stays in the header and is above the header itself*/
#zoomSliderDiv {
    position: fixed;
    top: 22px;
    height: 47px;
    right: 10px;
    z-index: 3;
}

#zoomSlider {
    width: 120px;
    height: 40px;
}

#signInButton {
    display: inline-block;
    min-width: 46px;
    text-align: center;
    color: #444;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    padding: 0 8px;
    line-height: 27px;
    border: 1px solid transparent;
    background-color: #d14836;
    vertical-align: 62%;
}

#searchForm {
    position: fixed;
    top: 90px;
    left: 0;
    height: 36px;
    width: 228px;

    z-index: 2;
    opacity: 0.85;

    padding: 12px;
    font-family: sans-serif;
}

input[type="text"] {
    font-size: 24px;

}

#mainpanel {
    z-index: 1;
}

#leftPanel {
    position: absolute;
    top: 160px;
    left: 0;
    width: 231px;

    margin-left: 15px;
    margin-right: 4px;
    font-size: smaller;
}

#rightPanel {
    position: absolute;
    top: 90px;
    right: 0;
    left: 250px;
}

.RecipeBox {
    float: left;
    margin: 0 0 0 0;
    padding: 5px;

    /* add a border here that is not visible so that 
       the :hover border doesn't make the thumbnails 
       jump around */
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

.RecipeBox:hover {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.stars {
    z-index: 2;
    position: absolute;
}

div.thumbnail {
    display: table-cell;
    vertical-align: bottom;
}

.smalltext {
    border: 1px solid appworkspace;
    height: 20px; 
    overflow:hidden;
    font-size: x-small;
    text-align: center;
}

.normaltext {
    border: 1px solid appworkspace;
    height: 20px; 
    overflow:hidden;
    font-size: medium;
    text-align: center;
}

.fill {
    align-items:center;
    width: 400px;
    height: 300px;
}
.RecipeThumbnail {
    min-width:100%;
    max-width:100%;
    min-height:100%;
    max-height:100%;
    object-fit: cover;
}

.moreButton {
    width: 100%;
    padding: 9px;
}

.popup {
    position:absolute;
    z-index: 3;
}

.popup ul {
    padding: 0px;
    padding-left:21px;
    margin: 0px;
    z-index: 3;
}

.popup li {
    background-color: rgb(213, 209, 195);
    list-style-type: none;
    border:solid 1px black;
    padding:4px;
}

.popup li.selected {
    font-weight: bold;
    font-style: italic;
    background-color: rgb(224, 209, 155);
}

.popup li:hover {
    background-color: rgb(245, 228, 167);
}